.modal-background {
  z-index: 1000;
  background: rgba(107, 114, 128, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 24px 24px 0 24px;
  width: 692px;
  height: 706px;
  background-color: #ffffff;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  img {
    object-fit: cover;
    width: 405px;
    height: 405px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
  }
  .comment-section {
    background: transparent;
    width: 100%;
    margin-top: 24px;
    p{
      background: transparent;
      border: 1px solid #6b7280;
      border-radius: 5px;
      margin: 3px;
    }
    h3 {
      display: block;
      width: 100%;
      background: transparent;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #374151;
    }
    .tip {
      padding-top: 8px;
      font-weight: 400;
      color: #6b7280;
    }
    input {
      width: 100%;
      height: 105px;
      background: #ffffff;
      border: 1px solid #d1d5db;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
      border-radius: 6px;

    }
    input:focus-visible{
      outline: none;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    }
    form{
      background: transparent;
    }
    .button-wrap {
      display: flex;
      justify-content: center;
      background: transparent;
      button {
        margin-top: 24px;
        color: white;
        border: none;
        padding: 9px 17px;
        width: 67px;
        height: 38px;
        background: #4f46e5;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .modal {
    width: 492px;
    img{
      height: 405px;
      width: 405px;
    }
  }
}

@media screen and (max-width: 750px) {
  .modal {
    width: 352px;
    img{
      height: 285px;
      width: 285px;
    }
  }
}
